<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'fetching_data' %}" >NTH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'hyd_data' %}" >HYDERABAD<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bang_data' %}">BANGELORE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chennai_data' %}">CHENNAI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'pune_data' %}" >PUNE</a>
    </li>
    </ul>

  </div>


        <li class="nav-item">
          <a class="nav-link " href="{% url 'mainpage' %}" >MAINPAGE</a>

        </li>
</nav>
